!!!
%head
  %title Meerkat test
  %script{:src=>'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js', :type => 'text/javascript'}
%body
  %fieldset
    %legend Publish
    %form#pub{:method => :post}
      %input{:name => 'message'}
      %input{:type=>'submit', :value => 'Send'}

  %fieldset
    %legend Subscribe
    %p 
      Subscribing to 
      %strong= @route
    %ul#stream
  :javascript
    var source = new EventSource('/stream#{@route}');
    var stream = document.getElementById('stream');
    source.addEventListener('message', function(e) {
      var li = document.createElement('li');
      li.innerHTML = JSON.parse(e.data);
      stream.appendChild(li);
    }, false);

    $(function() {
      $("#pub").submit(function() {
        $.post(this.action, $(this).serialize())
        return false
      });
    })
