!!!
%head
  %title Meerkat test
%body
  %fieldset
    %legend Publish
    %input{:name => 'message'}
    %input{:type=>'submit', :value => 'Send'}

  %fieldset
    %legend Subscribe
    %p 
      Subscribing to 
      %strong= request.env[:path_info]
    %ul#stream
  :javascript
    var source = new EventSource('/stream' + #{request.env[:path_info].to_json});
    var stream = document.getElementById('stream');
    source.addEventListener('message', function(e) {
      var li = document.createElement('li');
      p.innerHTML = e.data;
      stream.appendChild(p);
    }, false);
